<div class="min-h-screen min-w-full text-white bg-gradient-to-r from-black to-gray-900 px-10 py-8">
  <div class="font-semibold pb-20">
    <div class="inline text-2xl cursor-pointer p-4">
      <a href="#">Abul <span class="text-blue-200 font-bold">Basar</span></a>
    </div>

    <ul class="float-right">
      <li class="inline cursor-pointer rounded-lg bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 p-4">
        <a href="#">Contact</a>
      </li>
    </ul>
    <ul class="float-right">
      <li class="inline cursor-pointer rounded-lg hover:bg-gray-700 m-2 p-4">
        <a href="#">Blog</a>
      </li>
    </ul>
    <ul class="float-right">
      <li class="inline cursor-pointer rounded-lg hover:bg-gray-700 p-4 m-2">
        <a href="#">Experience</a>
      </li>
    </ul>
    <ul class="float-right">
      <li class="inline cursor-pointer rounded-lg hover:bg-gray-700 p-4 m-2">
        <a href="#">Skill</a>
      </li>
    </ul>
  </div>

  <div class="flex flex-col md:flex-row px-10 py-8">
    <div class="md:w-1/2 md:pr-10">
      <img class="md:float-right w-50 md:80 rounded-lg shadow-xl" src="https://avatars.githubusercontent.com/u/31006533?s=400&u=2c1475f9933eb49e17ea2b55c5398a05ae78d590&v=4" alt="" width="384" height="512">
    </div>
    <div class="md:w-1/2">
      <h1 class="font-extrabold text-2xl md:text-4xl mt-10">Software <span class="text-blue-200">Engineer</span></h1>
      <div class="pt-6">
        <p class="text-lg font-thin">
          I am passionate about technology and truly enjoy the work in this field. My eagerness to learn and desire to gain experience have led me to engage in a wide variety of roles including hybrid mobile applications, SPA web apps, and back-end development.
        </p>
        <button class="rounded-lg bg-blue-500 hover:bg-blue-600 border-b-4 border-blue-800 mt-10 p-4">Download Resume</button>
      </div>
    </div>
  </div>
</div>
